#den_select-layout .rwmb-input {
    display: flex !important;
}

.home-layouts-list {
    width: 600px;
    display: grid;
    grid-gap: 1.3rem;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 14rem);
    margin: 0 auto;
}

.home-layouts-item--one {
    grid-column: span 2;
}

.home-layouts-item__img {
    background: #d2d2d2;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-layouts-item__img span {
    font-size: 4rem;
    font-weight: 600;
}

.home-layouts-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-layouts-item__info {
    padding: 0.3rem;
}

.home-layouts-item__info span {
    font-weight: bold;
    padding-right: 0.5rem;
}

.home-layout-btn-action {
    background: #0073AA;
    color: #eee;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.home-layout-btn-action:hover {
    opacity: 0.8;
}

.home-layout-btn-action:disabled {
    background: lightgrey;
    opacity: 1;
}