.front-1, .front-2, .front-3 {
    background: #22242D;
}

.front-1__image, .front-2__figure img {
    max-width: 100%;
    height: auto;
}

.front-1__article {
    padding: 1rem 0;
}

.front-1__more,
.front-1__title,
.front-1__list__item a,
.front-1__excertp,
.front-1__meta,
.front-1__meta a,
.front-2__meta,
.front-2__meta a,
.front-2__meta a:visited,
.front-3 {
    color: #eee;
}

.front-1__more, .front-1__excertp {
    padding-bottom: 0.8rem;
}

.front-1__title {
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
}

.front-1__excertp {
    font-size: 1.2rem;
}

.front-1__list__item a {
    padding-top: 0.4rem;
    display: inline-block;
}

.front-1__meta {
    padding: 0.8rem 0;
}

.front-2 {
    padding-top: 1rem;
}

.front-2__article {
    display: flex;
}

.front-2__figure {
    flex: 1;
}

.front-2__meta {
    flex: 2;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.front-2__title {
    padding-bottom: 0.6rem;
}

.front-2__author,
.front-2__date,
.front-2__category {
    padding-bottom: 0.3rem;
}

.front-3 {
    padding: 1.5rem;
}

.front-3__article__meta {
    padding-top: 1.5rem;
}

.front-3__article__figure {
    position: relative;
}

.front-3__article__figure__cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-3__article iframe {
    height: 216px;
}

.front-3.fixed {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.show-img-special {
    position: relative;
}


.show-img-tag {
    background-color: yellow;
    position: absolute;
    text-transform: uppercase;
    bottom: 1rem;
    left: 0;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    font-size: 0.9rem;
}

.show-img-tag--laoctava-content {
    background-color: #1CA2D3;
    color: #eee;
}

@media only screen and (min-width: 1024px) {
    .front-1__article {
        display: flex;
    }

    .front-1__figure {
        flex: 1;
    }

    .front-1__aside {
        flex: 2;
        padding-left: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .front-2 .pinno-main-box {
        display: flex;
    }

    .front-2__article {
        flex: 1;
    }

    .front-3__article iframe {
        height: 416px;
    }
}

@media only screen and (min-width: 800px) {
    .front-3__article {
        display: flex;
    }

    .front-3__article__figure {
        flex: 1;
    }

    .front-3__article__meta {
        flex: 2;
        padding-top: 0;
        padding-left: 1.5rem;
    }

    .front-3__article__figure,
    .front-3__article__logo img,
    .front-3__article iframe {
        width: 387px;
        height: 218px;
    }

    .front-3__article__logo img {
        object-fit: cover;
    }

    .front-3__article__figure > img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

/* ========= MODS ASUS ==========*/

#fullwidth-wrap {
    background: #000;
    width: 100%;
    display: flex;
  }
  div#fullwidth_top {
    display: flex;
    flex-flow: row wrap;
    border-bottom: solid thin #fff;
  }
  #fullwidth_top #pinno-feat6-img:after {
    content: ;
    display: none;
  }
  #fullwidth-wrap #pinno-feat6-text {
    position: relative;
    background: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: 0;
    left: 0;
  }
  #fullwidth-wrap #pinno-feat6-text h3.pinno-feat1-pop-head {
    margin: 0;
    padding: 0;
    background: transparent;
  }
  #fullwidth-wrap span.pinno-feat1-pop-head, .feat_holder a span {
    padding: 0;
    background: transparent;
    color: #44ab39;
  }
  #fullwidth-wrap span.pinno-feat1-pop-head{
      font-size: 0.9rem;
    margin-bottom: 10px;
  }
  #fullwidth-wrap #pinno-feat6-text,
  #fullwidth-wrap #pinno-feat6-img {
    width: 100%;
  }
  #fullwidth-wrap #pinno-feat6-text {
    margin-top: 0;
  }
  .feat_text_holder {
    width: 90%;
    margin: 2em 0;
  }
  #fullwidth_top:hover h2{
    opacity: 0.6;
  }
  #fullwidth_top:hover img {
    opacity: 0.8;
  }
  #fullwidth-wrap #pinno-feat6-text h2 {
    font-size: 1.85em;
    line-height: normal;
    letter-spacing: normal;
  }
  .wrap1200 {
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
  }
  #fullwidth-wrap h2 {
    font-weight: 600;
  }
  .feat_holder {
    display: flex;
    margin-top: 0;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  a.feat_block {
    width: 100%;
    margin-bottom: 1.5em;
  }
  a.feat_block:first-of-type{
    margin-bottom: 1.5em;
  }
  .pinno-widget-feat1-bot-img img{
  width: 100%;
  }
  .feat_block .pinno-widget-feat1-bot-story {
    width: 100%;
    margin: 0;
  }
  
  .feat_block .pinno-widget-feat1-bot-text p{
      font-weight: 400;
  }
  #fullwidth_top img.show-img.show-img-special {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
    .feat_block .pinno-widget-feat1-bot-story{
      min-height: 296px;
      overflow: visible;
      height: 100% !important;
    }
    
    .feat_holder .pinno-widget-feat1-bot-text {
      width: auto;
      padding: 15px .5em 0;
      margin-top: 0;
    }
  @media screen and (max-width:479px){
    .feat_holder .pinno-widget-feat1-bot-img{
      margin: 0 !important;
      width: 100% !important;
      max-width: none !important;
    }
    .pinno-cat-date-wrap {
      margin-bottom: 8px;
  }
    .feat_holder .pinno-widget-feat1-bot-text {
      margin-top: 15px !important;
  }
  }
  @media screen and (min-width: 768px) {
    a.feat_block:first-of-type{
      margin-bottom: 0em;
    }
    #fullwidth-wrap #pinno-feat6-text {
      width: 44%;
    }
    #fullwidth-wrap #pinno-feat6-img {
      width: 55%;
    }
    .feat_text_holder {
      margin: 0;
    }
    .feat_holder a:last-of-type {
      border-left: white solid thin;
  }
  .feat_holder a:first-of-type {
      border-right: white solid thin;
  }
  a.feat_block, a.feat_block:first-of-type {
    width: 33.2%;
  }
  .feat_holder .pinno-widget-feat1-bot-text {
    padding: 15px 1.5em 0;
  }
  .feat_holder .feat_block:first-of-type .pinno-widget-feat1-bot-text {
    border-right: #aaadb2 thin solid;
  }
  .feat_holder .feat_block:last-of-type .pinno-widget-feat1-bot-text {
    border-left: #aaadb2 thin solid;
  }
  .feat_text_holder {
    width: 80%;
  }
  }
  @media screen and (min-width: 769px) and (max-width: 1003px) {
    #fullwidth-wrap #pinno-feat6-text h2 {
      font-size: 1.55rem;
    }
    #fullwidth-wrap span.pinno-feat1-pop-head, #fullwidth-wrap span.pinno-feat1-pop-head {
      font-size: 0.8rem;
    }
  }